.banner {
  // text-align: center;
  background-color: #780560;
  height: 350px;
  // display: flex;
    // align-items: center;
  h1 {
  font-size: 100px;
  color: #F49828;
  font-family: 'Yesteryear', cursive;
  margin-left: 100px;
  padding-top: 100px;
 }
}

.banner h4 {
  color: #F49828;
  margin-left: 320px;
  font-family: 'Tahome', sans-serif;
}
