.card {
  width: 230px;
  height: 230px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 80px;
  opacity: 0.8;
  display: cover;
}

ul {
 list-style-type: none;
}

.card img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.card:hover {
  opacity: 1.0;
}

.card li {
  position: relative;
  font-size: 30px;
}


.card a {
  color: #fafafa;
  text-shadow: 1px 1px black;
  font-family: 'Cantarell', sans-serif;
  text-transform: uppercase;
}

.card a:hover {
  text-shadow: 2px 2px black;
  text-decoration: none;
  color: #fff;
};
