.container {
  background-color: #f5e8e3;
  max-width: 100%;
  align-items: center;
  // background-image: linear-gradient(#FEEFC5, #fdde86);
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  padding-top: 50px;
  }
  // margin-right: 90px;
  // margin-left: 90px;
  // padding: 20px;
  // grid-column-gap: 50px;


@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr
  }
}


