.navbar {
  justify-content: space-between;
  background: #FEEFC5;
  height: 100px;
  img {
    height: 75px;
    margin-left: 50px;
  }
}

.navbar .btn {
  margin-right: 75px;
  background-color: #60b0a6;
  color: #58017f;
}
