.navbar {
  background-color: #fffbed;
  height: 80px;
  font-family: 'Cantarell', sans-serif;
  text-transform: uppercase;
  position: fixed-top;
  margin: 0;
  // top: 0;
  // z-index: 100;

  h3 {
    font-size: 40px;
    color: #696565;
  }
}


.header-title {
  // text-align: center;
}


.nav-btn a {
  text-decoration: none;
  color: #c12b5c;
}




@media(max-width: 768px) {
  .navbar {
    height: 80px;
  }
}


// @media(max-width: 768px) {
//   .navbar h3 {
//     font-size: 25px;
//     object-fit: cover;
//   }
// }


@media(max-width: 600px) {
  .navbar {
    height: 150px;
    display: grid;
    justify-content: center;
    // display: block;
    // align-items: center;
  }
  .navbar h3 {
    font-size: 25px;
  }

}
