.cocktail-card {
  width: 1000px;
  height: 500px;
  background-color: white;
  box-shadow: 2px 2px 10px 4px;
  display:flex;
  box-sizing: border-box;
}


.cocktail-pic img {
  width: 500px;
  height: 500px;
  display: cover;
}

.cocktail-ingredients {
  display: flex;
  display: inline-block;
}

.cocktail-name h1 {
  font-size: 30px;
}

.ingredient-and-delete {
  justify-content: space-evenly;
  display: flex;
  width: auto;
  margin: -5px;
}


.ingredient-card {
  width: 500px;
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  text-transform: uppercase;
}

.ingredient-list {
  display: inline-block;
}

.delete-cocktail-icon {
    padding-top: 6px;
    padding-left: 2px;
    font-size: 10px;
}


.ingr-list {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 40px;
}


*{
padding:auto;
margin:auto;
text-align:centre;
}

@media(max-width: 500px) {
  .cocktail-card {
    width: 250px;
    height: 500px;


  }
}
