.cocktail-card {
  width: 1000px;
  height: 500px;
  background-color: white;
  box-shadow: 2px 2px 10px 4px;
  display:flex;
  box-sizing: border-box;
}


.cocktail-pic img {
  width: 500px;
  height: 100%;
}


.title-ingredients-container {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Cantarell', sans-serif;
  text-transform: uppercase;
  color: #a78c8c;

}

.cocktail-ingredients {
  display: flex;
  display: inline-block;
}

.cocktail-name h1 {
  font-size: 30px;
}

.add-ingredient-list {
    align-items: center;
    width: 100%;
    // padding-left: 45px;
}

.ingredient-and-delete {
  // display: flex;
  justify-content: space-evenly;
  display: flex;
  width: auto;
  margin: -5px;
}

.ingredients-container {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  height: 150px;
}


.ingredient-card {
  width: 500px;
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  text-transform: uppercase;
}

.ingredient-list {
  display: inline-block;
}

.delete-cocktail-icon {
    padding-top: 6px;
    padding-left: 2px;
    font-size: 10px;
}


.ingr-list {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 40px;
}
