.cocktail-page-header {
  height: 600px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 100%;
  padding-left: 100px;
  img {
    height: 100%;
    width: 50%;
    border: 1px solid black;
    margin-right: 40px;

  }
}



.ingredients-container {
  width: 50%;
}


.cocktail-card {
  width: 1000px;
  height: 500px;
  background-color: white;
  box-shadow: 2px 2px 10px 4px;
  display:flex;
  box-sizing: border-box;
}


.cocktail-pic img {
  width: 500px;
  height: 100%;
}


.title-ingredients-container {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Cantarell', sans-serif;
  text-transform: uppercase;
  color: #a78c8c;

}

.name-ingredients {
  display: inline-block;
}

.cocktail-name h1 {
  font-size: 30px;
}

